<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ">
              <span class="subheading">Testimonies</span>
            <h2>Recent reviews &amp; Feedbacks</h2>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="d-flex flex-row ftco-owl">
              <div class="item col-md-4" *ngFor="let review of reviews">
                <div class="testimony-wrap py-4">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                  <div class="text">
                    <p class="pl-4">{{review.comment}}</p>
                    <div class="d-flex align-items-center">
                        <div class="user-img" >
                          <img style="background-image: url(http://localhost:9595/visitor/imagebyusername/{{review.userpub}}); background-size: cover; background-repeat: no-repeat;background-position: center;"  style="width: 50px; height: 50px;border-radius: 50%; " >
                        </div>
                        <div class="pl-2">
                            <p class="name">{{review.userpub}}</p>
                            <span class="position">{{review.dateofcreation | date :'short'}}</span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
  
<section class="ftco-section  testimony-section">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ">
            <span class="subheading">New Recipes</span>
          <h2>Latest Recipes from our users</h2>
        </div>
      </div>
      <div class="row d-flex ">
        <div class="col-md-4 d-flex" *ngFor="let recipe of latestrecipes">
        <div class="blog-entry align-self-stretch" >
            <a> 
            <img  alt="" class="card-img-top img-responsive"
            style="background-image: url(http://localhost:9595/visitor/imagebyrecipe/{{recipe.idRecipe}}) ; background-size: cover; width: 280px; height: 250px; background-repeat: no-repeat;background-position: center;">
            
            </a>
            <div class="text p-3">
                <div class="posted mb-3 d-flex">
                <div class="img author">
               <img style="background-image: url(http://localhost:9595/visitor/imagebyusername/{{recipe.userpub}})  ; background-size: cover; background-repeat: no-repeat;background-position: center;"  style="width: 50px; height: 50px;border-radius: 50%; " >
               </div>
                    <div class="desc pl-3">
                        Posted By <i>{{recipe.userpub}}</i><br>
                        <span >{{recipe.dateofcreation | date :'short'}}</span>
                    </div>
                </div>
              <h3 class="heading"><a href="" >{{recipe.title}}</a></h3>
            </div>
        </div>
        </div>
        
      </div>
    </div>
</section>

<section class="ftco-counter" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-calendar"></span></div>
                    <strong class="number"  >{{this.restos.length}}</strong>
                    <span>All Our Restaurants</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-briefcase"></span></div>
                    <strong class="number" data-number="8500">{{this.recipes.length}}</strong>
                    <span>All Our recipes</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-users"></span></div>
                    <strong class="number" data-number="2342">{{this.users.length}}</strong>
                    <span>All Our Clients</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-bar-chart"></span></div>
                    <strong class="number" data-number="30">{{this.brands.length}}</strong>
                    <span>All Our Brands</span>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="" id="about">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ">
          <span class="subheading">We explain the concept</span>
          <h2>About us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 services ">
          <img src="/assets/images/work-1.jpg"  style="height: 550px ; width: 550px; float: right;">
        </div>
        
        <div class="col-md-6 services ">
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-assistive-listening-systems" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Concept</h3>
              <p>Food Recommendation is the leading destination for customer ratings and reviews of products. 
                Consumers find ratings and read reviews to ensure they buy from the best companies.</p>
              
            </div>
            
          </div>
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-assistive-listening-systems" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Idea</h3>
              <p>Because « 85 % of consumers trust online reviews as much as personal recommendations » 
                – <strong>Bright Local.</strong><br>These statistics and your personal experience should bring you to the conclusion that a
                 web review service is in high demand 
                now and can be a driving link in creating a chain between customers and businesses.</p>
              
            </div>
            
          </div>
          
          <div class="d-block d-flex ">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-star" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Reviews</h3>
              <p>The review should be based on your own experience and that you are in no way affiliated with this business,
                No incentive or payment has been provided from any company to write your opinion..</p>
             
            </div>
         
          </div> 

        </div>
       
        <div class="col-md-6 services  mt-3">
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-star" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Rules</h3>
              <p>All false review constitutes a violation of the terms of use of our platform ,This means that any attempt to fake reviews can lead to legal action against you. So be careful</p>
            </div>
          </div> 
          <div class="d-block d-flex ">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-barcode" aria-hidden="true"  ></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Recipes</h3>
              <p>Share your product experiences to help others make better decisions and empower businesses to improve.</p>
            </div>
          </div>  
          <div class="d-block d-flex ">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-barcode" aria-hidden="true"  ></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Goal</h3>
              <p>Our site is a community of passionate people, sharing their products and service experiences.
                Our community of reviewers are a dedicated bunch of consumers who want to help you discover what's right for you.</p>
            </div>
          </div>   
        </div>
        <div class="col-md-6 services ">
          <img src="/assets/images/work-2.jpg"  style="height: 470px ; width: 550px; float: left ;">
        </div>
      </div>
    </div>
  </section>	

  <hr>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ">
            <span class="subheading">New Brands</span>
          <h2>Latest Brands </h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-3 d-flex " *ngFor="let brand of latestbrands">
          <div class="blog-entry align-self-stretch">
            <a > <img alt="" style="background-image: url(http://localhost:9595/visitor/imagebybrand/{{brand.idbrand}}) ; background-size: cover; background-repeat: no-repeat;background-position: center;" style="width: 200px; height: 200px; ">
            </a>
            <div class="text p-3">
                <div class="posted mb-3 d-flex">
                    <div class="desc pl-3">
                        <i >{{this.brand.restos.length}}</i><i>  resto(s)</i>
                        <span >{{brand.brandname}}</span>
                    </div>
                </div>
              <h3 class="heading"><a >{{brand.brandname}}</a></h3>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

