<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ">
              <span class="subheading">Testimonies</span>
            <h2>Recent reviews &amp; Feedbacks</h2>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="d-flex flex-row ftco-owl">
              <div class="item col-md-4">
                <div class="testimony-wrap py-4">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                  <div class="text">
                    <p class="mb-4">Comment Comment Comment Comment Comment Comment Comment Comment..</p>
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(assets/images/person_1.jpg)"></div>
                        <div class="pl-3">
                            <p class="name">user1</p>
                            <span class="position">15/06/2022</span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              
              <div class="item col-md-4">
                <div class="testimony-wrap py-4">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                  <div class="text">
                    <p class="mb-4">Comment Comment Comment Comment Comment texts.</p>
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(assets/images/person_2.jpg)"></div>
                        <div class="pl-3">
                            <p class="name">Ali x1</p>
                            <span class="position">11/05/2021</span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              
              <div class="item col-md-4">
                <div class="testimony-wrap py-4">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                  <div class="text">
                    <p class="mb-4">qdgsdf  sdfsdfg sdfgdfg sdfgdgqdg dfdg ..</p>
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(assets/images/person_3.jpg)"></div>
                        <div class="pl-3">
                            <p class="name">Roger Scott</p>
                            <span class="position">06/01/2021</span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
</section>

<section class="ftco-counter" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-calendar"></span></div>
                    <strong class="number" data-number="45">0</strong>
                    <span>Years of Experienced</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-briefcase"></span></div>
                    <strong class="number" data-number="8500">0</strong>
                    <span>Project completed</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-users"></span></div>
                    <strong class="number" data-number="2342">0</strong>
                    <span>Happy Clients</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap">
                <div class="block-18 text-center">
                <div class="text">
                    <div class="icon"><span class="fa fa-bar-chart"></span></div>
                    <strong class="number" data-number="30">0</strong>
                    <span>Business Partners</span>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ">
                    <span class="subheading">Projects</span>
                    <h2>Done Projects</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid px-md-0">
            <div class="row ">
                <div class="col-md-3">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-1.jpg);">
                        <a href="assets/images/work-1.jpg" class="d-flex justify-content-center align-items-center">
                                    <span class="fa fa-expand"></span>
                                </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-2.jpg);">
                        <a href="assets/images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="fa fa-expand"></span>
                                </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-3.jpg);">
                        <a href="assets/images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="fa fa-expand"></span>
                                </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-4.jpg);">
                        <a href="assets/images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="fa fa-expand"></span>
                                </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-5.jpg);">
                        <a href="assets/images/work-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="fa fa-expand"></span>
                                </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-6.jpg);">
                        <a href="assets/images/work-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="fa fa-expand"></span>
                                </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-7.jpg);">
                        <a href="assets/images/work-7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="fa fa-expand"></span>
                                </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="work img d-flex align-items-end" style="background-image: url(assets/images/work-8.jpg);">
                        <a href="assets/images/work-8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="fa fa-expand"></span>
                        </a>
                        <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <h2><a href="work-single.html">Pubs, Bars and Restaurants</a></h2>
                            <span>House</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>	

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center">
                <span class="subheading">News Products</span>
                <h2>Latest products from our customer</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('assets/images/image_1.jpg');"></a>
                    <div class="text p-3">
                        <div class="posted mb-3 d-flex">
                            <div class="img author" style="background-image: url(assets/images/person_2.jpg);"></div>
                            <div class="desc pl-3">
                                <span>Posted by John doe</span>
                                <span>24 February 2020</span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">How Roofing Charge for Their Services</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('assets/images/image_2.jpg');"></a>
                    <div class="text p-3">
                        <div class="posted mb-3 d-flex">
                            <div class="img author" style="background-image: url(assets/images/person_3.jpg);"></div>
                            <div class="desc pl-3">
                                <span>Posted by John doe</span>
                                <span>24 February 2020</span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">How Roofing Charge for Their Services</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('assets/images/image_3.jpg');"></a>
                    <div class="text p-3">
                        <div class="posted mb-3 d-flex">
                            <div class="img author" style="background-image: url(assets/images/person_1.jpg);"></div>
                            <div class="desc pl-3">
                                <span>Posted by John doe</span>
                                <span>24 February 2020</span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">How Roofing Charge for Their Services</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
