<div class="content-wrapper">
    <div class="col-md-12  ">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add resto</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manage Restos</li>
                    </ol>
                </div>
            </div>
        </section>
        <div class="d-flex justify-content-lg-center">
            <div class="card col-md-7">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Add Resto</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #f="ngForm" (ngSubmit)=onSaveResto(f.value)>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="demo_overview">Select Brand</label>
                                    <select id="demo_overview" [(ngModel)]="resto.brand" name="brandname" class="form-control" data-role="select-dropdown">
                                    <!-- options -->
                                    <option [ngValue]="">Please select Brand</option>
                                    <option *ngFor="let brand of brands" [ngValue]="brand.brandname">
                                        {{brand.brandname}}
                                    </option>
                                </select> 
                            </div>
                            <div class="form-group">
                                <label for="demo_overview">Select Place Category</label>
                                    <select id="demo_overview" [(ngModel)]="resto.placecategory" name="pcatname" class="form-control" data-role="select-dropdown">
                    
                                    <option [ngValue]="">Please select placecat</option>
                                    <option *ngFor="let pcat of listeplacecat" [ngValue]="pcat.pcatname">
                                        {{pcat.pcatname}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputRestoname">Restoname</label>
                                <input type="text" ngModel name="restoname" class="form-control"  id="exampleInputRestoname" placeholder="Enter Restoname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLocation">location</label>
                                <input type="text" ngModel name="location" class="form-control" id="exampleInputLocation" placeholder="Enter location">
                            </div>
                            
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <!-- general form elements -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
