<section class="ftco-section bg-light" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="wrapper">
            <div class="row no-gutters">
                <div class="contact-wrap w-100 p-md-5 p-4">
                  <h3 class="mb-4">Find the perfect option for you</h3>
                  <form  class="contactForm" #f="ngForm" class="search" (ngSubmit)="onSearchRestoAD(f.value)">                  
                        
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="search" class="form-control" ngModel name="price" id="price" placeholder="price" >
                        </div>
                      </div>
                     <div class="col-md-12">
                        <div class="form-group">
                          <input type="search" class="form-control"  ngModel name="location" id="location" placeholder="location" >
                        </div>
                      </div><div class="col-md-12">
                        <div class="form-group">
                          <input type="search" class="form-control"  ngModel name="dishname" id="dishname" placeholder="dishname" >
                        </div>
                      </div>
                        
                      <div class="col-md-12">
                        <div class="form-group">	
                            <input type="submit" value="Search" class="btn btn-primary sign-up" />
                          <div class="submitting"></div>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
              </div>
              </div>
            </div>
          </div>
       
  </section>
