<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List of users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manage Users</li>
                    </ol>
                </div>
            </div>
        
    </section>
        <div class="card">
            <div class="card-header">
                
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Image</th>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Date Of Birth</th>
                            <th>Role</th>
                            
                            
                            <th style="width: 50px">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of users">
                            <td>{{u.id}}</td>
                            <td class="user-img" style="background-image: url(http://localhost:9595/visitor/imagebyuser/{{u.id}}) ;background-size:70px; background-position:center; background-repeat: no-repeat; height: 80px;">
                                
                            </td>
                            <td>{{u.username}}</td>
                            <td>{{u.nom}}</td>
                            <td>{{u.prenom}}</td>
                            <td>{{u.email}}</td>
                            <td>{{u.tel}}</td>
                            <td>{{u.dateBirdh}}</td>
                            <td>{{u.roleName}}</td>
                            
                            <td><button  (click)="deluser(u.id)" class="btn btn-block btn-danger btn-sm">Delete</button></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
</div>