<div class="content-wrapper">
    <div class="col-md-12  ">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit resto</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manage Restos</li>
                    </ol>
                </div>
            </div>
        </section>
        <div class="d-flex justify-content-lg-center">
            <div class="card col-md-7">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Edit Resto</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="demo_overview">Select Brand</label>
                                    <select id="demo_overview" class="form-control" data-role="select-dropdown">
                                    <!-- options -->
                                    <option value="DZ">KFC</option>
                                    <option value="BH">Plan B</option>
                                    <option value="BE">pizza slice</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="demo_overview">Select Place Category</label>
                                    <select id="demo_overview" class="form-control" data-role="select-dropdown">
                                    <!-- options -->
                                    <option value="DZ">9raya</option>
                                    <option value="BH">3al b7ar</option>
                                    <option value="BE">calme</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputRestoname">Restoname</label>
                                <input type="text" class="form-control" id="exampleInputRestoname" placeholder="Enter Restoname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLocation">location</label>
                                <input type="text" class="form-control" id="exampleInputLocation" placeholder="Enter location">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <!-- general form elements -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
