<div class="content-wrapper">
    
    <div class="col-md-12  ">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add user</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Manage Users</li>
                </ol>
            </div>
        </div>
    
    </section>
    <div class="d-flex justify-content-lg-center">
    <div class="card col-md-7">
        <!-- general form elements -->
        <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Add User</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputUsername">Username</label>
                  <input type="text" class="form-control" id="exampleInputUsername" placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label for="exampleInputFirstname">Firstname</label>
                  <input type="text" class="form-control" id="exampleInputFirstname" placeholder="Enter Firstname">
                </div>
                <div class="form-group">
                  <label for="exampleInputLastname">Lastname</label>
                  <input type="text" class="form-control" id="exampleInputLastname" placeholder="Enter Lastname">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputPhone">Phone</label>
                  <input type="text" class="form-control" id="exampleInputPhone" placeholder="Enter Phone">
                </div>
                <div class="form-group">
                  <label for="exampleInputbirthDate">Date of Birthday</label>
                  <input type="date" class="form-control" id="exampleInputbirthDate" name="birthDate" id="birthDate"  min="1940-01-01" max="2006-12-31" required> 		
                </div>
                <div class="form-group">
                  
                    <label for="demo_overview">Select one or more countries</label>
                      <select id="demo_overview" class="form-control" data-role="select-dropdown">
                      <!-- options -->
                      <option value="DZ">Algeria</option>
                      <option value="BH">Bahrain</option>
                      <option value="BE">Belgium</option>
                      <option value="BR">Brazil</option>
                      <option value="CA">Canada</option>
                      <option value="CN">China</option>
                      <option value="CI">Côte d’Ivoire</option>
                      <option value="HR">Croatia</option>
                      <option value="EG">Egypt</option>
                      <option value="FR">France</option>
                      <option value="DE">Germany</option>
                      <option value="IT">Italy</option>
                      <option value="JP">Japan</option>
                      <option value="LY">Libya</option>
                      <option value="MA">Morocco</option>
                      <option value="NG">Nigeria</option>
                      <option value="QA">Qatar</option>
                      <option value="RU">Russia</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">United States</option>
                    </select>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputImage">Image</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputImage">
                      <label class="custom-file-label" for="exampleInputImage">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Select Role</label>
                  <select class="form-control">
                    <option>Super Admin</option>
                    <option>Editeur</option>
                    <option>Visiteur</option>
                    <option>User</option>
                  </select>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

          <!-- general form elements -->
           
        
    </div>
    <!-- /.card -->
</div>
</div>
</div> 
