<div class="content-wrapper">
    
    <div class="col-md-12  ">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Brand</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Manage Brands</li>
                </ol>
            </div>
        </div>
    
    </section>
    <div class="d-flex justify-content-lg-center">
    <div class="card col-md-7">
        <!-- general form elements -->
        <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Add Brand</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form #f="ngForm" (ngSubmit)="onSaveBrand(f.value)">
              
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputBrandname">Brand name</label>
                  <input type="text" class="form-control" ngModel name="brandname" id="brandname" placeholder="Enter Brandname">
                </div>
                <div class="form-group">
                  <label for="exampleInputDescription">Description</label>
                  <textarea type="text" class="form-control" ngModel name="brandDescription" id="brandDescription" placeholder="Description of brand"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputImage">Image</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file"  (change)="onSelectFile($event)" class="custom-file-input">
                      <label class="custom-file-label" for="exampleInputImage">Choose file</label>
                      
                    </div>
                  </div>
                </div>
              
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
          <!-- general form elements -->
    </div>
    <!-- /.card -->
</div>
</div>
</div> 

