<div class="content-wrapper">
    <div class="col-md-12  ">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit dish</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manage dishes</li>
                    </ol>
                </div>
            </div>
        </section>
        <div class="d-flex justify-content-lg-center">
            <div class="card col-md-7">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Edit Dish</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    
                        <div class="card-body">
                            <div class="form-group">
                                <label for="demo_overview">Select Resto</label>
                                    <select [(ngModel)]="dish.resto" name="restoname" id="demo_overview" class="form-control" data-role="select-dropdown">
                                    <!-- options -->
                                    <option [ngValue]="">Please select Resto</option>
                                    <option *ngFor="let resto of restos" [ngValue]="resto.restoname">
                                        {{resto.restoname}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="demo_overview">Select Dish Category</label>
                                    <select id="demo_overview" [(ngModel)]="dish.dishcategory" name="dcatname" class="form-control" data-role="select-dropdown">
                    
                                    <option [ngValue]="">Please select placecat</option>
                                    <option *ngFor="let dcat of listedishcat" [ngValue]="dcat.dcatname">
                                        {{dcat.dcatname}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDishoname">Dishoname</label>
                                <input type="text" [(ngModel)]="dish.dishname" class="form-control" id="exampleInputDishoname" placeholder="Enter Dishoname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPrice">Price</label>
                                <input type="text" [(ngModel)]="dish.price" class="form-control" id="exampleInputPrice" placeholder="Enter Price">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Description</label>
                                <input type="text" [(ngModel)]="dish.dishDescription" class="form-control" id="exampleInputDescription" placeholder="Enter Description">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImage">Image</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file"  (change)="onSelectFile($event)" class="custom-file-input">
                                        <label class="custom-file-label" for="exampleInputImage">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button (click)="updateDish()" class="btn btn-info">Submit</button>
                        </div>
                    
                </div>
                <!-- /.card -->
                <!-- general form elements -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
