<section class="ftco-section bg-light">
    <div class="content">
        <div class="col-md-12  ">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="row justify-content-center mb-2">
                    <div class="col-sm-6">
                        <h1>Add recipe</h1>
                        <br><br>
                    </div>
                </div>
            </section>
            <div class="d-flex justify-content-lg-center">
                <div class="card col-md-7">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card">
                            
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form #f="ngForm" (ngSubmit)=onSaveRecipe(f.value)>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="demo_overview">Select Dish Category</label>
                                        <select id="demo_overview" [(ngModel)]="recipe.dishcategory" name="dcatname" class="form-control" data-role="select-dropdown">
                        
                                        <option [ngValue]="">Please select placecat</option>
                                        <option *ngFor="let dcat of listedishcat" [ngValue]="dcat.dcatname">
                                            {{dcat.dcatname}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputTitle">Title</label>
                                    <input type="text" ngModel name="title" class="form-control" id="exampleInputTitle" placeholder="Enter Title">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputDescription">Description</label>
                                    <textarea type="text" ngModel name="description" class="form-control" id="exampleInputDescription" placeholder="Description of brand"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputImage">Image</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file"  (change)="onSelectFile($event)" class="custom-file-input">
                                            <label class="custom-file-label" for="exampleInputImage">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputpreparationTime">preparationTime</label>
                                    <input type="text" ngModel name="preparationTime" class="form-control" id="exampleInputpreparationTime" placeholder="Enter preparationTime">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputingredients">ingredients</label>
                                    <input type="text" ngModel name="ingredients" class="form-control" id="exampleInputingredients" placeholder="Enter ingredients">
                                </div>
                            </div>
                            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                    <!-- general form elements -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    
</section>


