<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class=" row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ">
                <h2 class="mb-4">Our Recipes</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-10">
                <form class="search" action="/user/searchRecipe">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="search" class="form-control" placeholder="Entrez votre recherche" name="search" required>     <!-- barre de recherche -->
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-primary sign-up"  >     <!-- bouton de validation -->
                        </div>
                    </div>
                </form>
                <a href="/advancedSearchRecipe"> Advanced Search</a>
            </div>
            <div class="col-md-2 float-right">
                <button (click)="addrecipe()" type="button" class="btn btn-primary " >Add recipe</button>
            </div>
        </div>
        <hr style="height:0.3px;color:#d9ba2b;background-color:#d9ba2b;">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="tabulation mt-4">
                    <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
                        <li class="nav-item text-left">
                            <a class="nav-link py-4">
                                <strong> <i class="fa fa-align-justify mr-3" aria-hidden="true"></i>Recipe Category</strong>
                            </a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link active py-4" th:href="@{/user/recipes/{dishcategory}(dishcategory=${category.dishcategory})}" th:each="category : ${dishcategories}" th:value="${category.dishcategory}"  th:text="${category.dishcategory}">
                                <span class="fa fa-mobile mr-3" aria-hidden="true"></span> 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8 mt-4">
                <div class="tab-content">
                    <div class="tab-pane container p-0 active" id="services-1">
                        <div class="row" >
                            <div class="row d-flex">
                                <div class="col-md-4 d-flex " th:each="recipe : ${recipes}">
                                    <div class="blog-entry align-self-stretch">
                                        <a th:href="@{/user/recipe/{id}(id=${recipe.idrecipe})}"> 
                                            <img th:if="${recipe.imgRecipe} != null" alt="" src="/assets/static/images/3.jpg" style="width: 280px; height: 250px; ">
                                            <!--<img th:if="${recipe.imgRecipe} == null" src="../../../../static/images/recipe.jpg" alt="" style="width: 280px; height: 250px; ">-->
                                        </a>
                                        <div class="text p-3">
                                            <div class="posted mb-3 d-flex">
                                                <div class="img author">
                                                    <img  src="/assets/static/images/women.jpg" style="width: 50px; height: 50px;border-radius: 50%; " >
                                                </div>
                                                <div class="desc pl-3">
                                                    Posted By <i th:value="${recipe.publisher.username}" th:text="${recipe.publisher.username}">user2</i>
                                                    <span th:value="${recipe.dateofcreation}" th:text="${recipe.dateofcreation}">description</span>
                                                </div>
                                            </div>
                                            <h3 class="heading">
                                                <a th:href="@{/recipe/{id}(id=${recipe.idrecipe})}" th:value="${recipe.title}" th:text="${recipe.title}">recipe 11
                                                </a>
                                                <div style="float:right">
                                                    <!-- 
                                                    <small   th:text="${product.avisss.size}" ></small> 
                                                    -->
                                                    <small th:text="${#lists.size(recipe.reviews)}"></small><small> review(s)</small>
                                                </div>
                                            </h3>
                                            <!-- 
                                                <center>  <div class="desc " style="color : #d9ba2b;">
                                                <small class="fa fa-star"></small>
                                                <small class="fa fa-star"></small>
                                                <small class="fa fa-star"></small>
                                                <small class="fa fa-star"></small>
                                                <small class="fa fa-star"></small>
                                                <a th:value="${product.rate}" th:text="${product.rate}"></a>
                                                </div>
                                                </center>
                                            --> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>

