<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List of dish categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manage Dish categories</li>
                    </ol>
                </div>
            </div>
        
    </section>
        <div class="card">
            <div class="card-header">
                <div class="col-xs-1 col-md-1 float-right">
                    <button type="button" (click)="adddishcat()" class="btn btn-block btn-info btn-sm">Add dish category</button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name Dish-Cat</th>
                            
                            <th style="width: 50px">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dcat of dishescat">
                            <td>{{dcat.idDCat}}</td>
                            <td>{{dcat.dcatname}}</td>
                            
                            <td><button  (click)="deldishCat(dcat.idDCat)" class="btn btn-block btn-danger btn-sm">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
</div>
