<section class="ftco-section ftco-degree-bg" style="margin-left:10% !important" >
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-8 order-lg-last ">
                <ul class="comment-list">
                    <li class="">
                        <div class="vcard bio">
                            <img style="background-image: url(http://localhost:9595/visitor/imagebyusername/{{recipe.userpub}}); background-size: cover; background-repeat: no-repeat;background-position: center;"  style="width: 50px; height: 50px;border-radius: 50%; " >
                        </div>
                        <div class="comment-body mt-2">
                            <h5  > Posted by : {{recipe.userpub}}</h5>
                            <div class="meta">
                                <span class="fa fa-chevron-circle-down" >{{recipe.dateofcreation | date :'short'}}</span>
                                <hr> 	
                            </div>
                        </div>
                    </li>
                    
                </ul>
                <div class="box1">
                    <h3 >{{recipe.title}}</h3>
                    <img style="background-image: url(http://localhost:9595/visitor/imagebyrecipe/{{recipe.idRecipe}}); background-size: cover; background-repeat: no-repeat;background-position: center;" alt="" class="img-fluid mb-8" style=" width: 450px ; height: 420px ;margin-left:30%  ">
                    <br>
                    <br><br>
                    <h6>dishcategory</h6>
                    <p>{{recipe.dcatname}}</p>
                    <h6>Preperation Time </h6>
                    <p>{{recipe.preparationTime}}</p>
                    <h6 >Ingredients </h6>
                    <p >{{recipe.ingredients}}</p>
                    <h6 >Description </h6>
                    <p >{{recipe.description}}</p>
                </div>
                <br>
                <div class="row box1">
                </div>
                <hr>
                <div class="pt-5 mt-5 ">
                    <h3> Reviews </h3>
                    <br>
                    <ul class="comment-list" >
                        <div  *ngFor="let review of recipe.reviews">
                            <li class="comment box1">
                                <br>
                                <div class="vcard bio" >
                                    <img style="background-image: url(http://localhost:9595/visitor/imagebyusername/{{review.userpub}}); background-size: cover; background-repeat: no-repeat;background-position: center;"  style="width: 50px; height: 50px;border-radius: 50%; " >
                                </div>
                                <div class="comment-body">
                                    <h3   style=" font-size :16px ; margin-top : 5px !important;" th:text=${review.userpub}>{{review.userpub}}</h3>
                                    <div class="meta">
                                        <span class="fa fa-chevron-circle-down" >{{review.dateofcreation}}</span>
                                    </div>
                                    <hr> 
                                    <div  >
                                        <img  alt="" style="background-image: url(http://localhost:9595/visitor/imagebyreview/{{review.idReview}}) ; background-size: cover; width: 280px; height: 250px; background-repeat: no-repeat;background-position: center;">
                                    </div>
                                    <div style="color : #000000; font-size : 18px ; " th:text="${review.comment}">{{review.comment}}
                                    </div>
                                    <hr>  
                                    <p>
                                        <a th:href="@{/user/recipe/{id}(id=${recipe.idrecipe})}" class="mr-4" cliked="false"><span class="fa fa-thumbs-up" aria-hidden="true" ></span> Like </a>
                                        <a th:href="@{/user/recipe/{id}(id=${recipe.idrecipe})}" class="mr-4" cliked="false"><span class="fa fa-thumbs-down" aria-hidden="true" ></span> Dislike </a>
                                        <a href="#" class="mr-4"><span class="fa fa-comment" aria-hidden="true"></span> report</a>
                                        <a href="#" class="mr-4" style="color: grey; " >  <span class="fa fa-thumbs-up" aria-hidden="true" th:text="${review.nblike}" ></span></a> 
                                        <a href="#" class="mr-4" style="color: grey "> <span class="fa fa-thumbs-down " aria-hidden="true" th:text="${review.nbdislike}" ></span></a>  
                                    </p>
                                </div>
                            </li>
                        </div>
                    </ul>
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a review</h3>
                        <form #f="ngForm" (ngSubmit)=onSaveReview(f.value) class="p-5 bg-light">
                            <div class="form-group">
                                <label for="TitleReview">Add photo about your experience (optional) </label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file"  (change)="onSelectFile($event)" class="custom-file-input">
                                        <label class="custom-file-label" for="exampleInputImage">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="review">Your review *</label>
                                <textarea  class="form-control" cols="30" rows="10" ngModel name="comment" name="comment" required></textarea>
                            </div>
                            <div class="form-group">
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
            
        </div>
    </div>
</section>
