<section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center">
          <span class="subheading">We explain the concept</span>
          <h2>About us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 services">
          <img src="/assets/static/images/1.jpg"  style="height: 550px ; width: 700px; float: right;">
        </div>
        <div class="col-md-6 services">
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-assistive-listening-systems" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Concept</h3>
              <p>Food Recommendation is the leading destination for customer ratings and reviews of products. 
                Consumers find ratings and read reviews to ensure they buy from the best companies.</p>
            </div>
          </div>
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-assistive-listening-systems" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Idea</h3>
              <p>Because « 85 % of consumers trust online reviews as much as personal recommendations » 
                – <strong>Bright Local.</strong><br>These statistics and your personal experience should bring you to the conclusion that a
                 web review service is in high demand 
                now and can be a driving link in creating a chain between customers and businesses.</p>
              
            </div>
            
          </div>
          
          <div class="d-block d-flex ">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-star" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Reviews</h3>
              <p>The review should be based on your own experience and that you are in no way affiliated with this business,
                No incentive or payment has been provided from any company to write your opinion..</p>
             
            </div>
         
          </div> 

        </div>
       
        <div class="col-md-6 services mt-3">
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-star" aria-hidden="true"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Rules</h3>
              <p>All false review constitutes a violation of the terms of use of our platform ,This means that any attempt to fake reviews can lead to legal action against you. So be careful</p>
            </div>
          </div> 
          <div class="d-block d-flex ">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-barcode" aria-hidden="true"  ></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Recipes</h3>
              <p>Share your product experiences to help others make better decisions and empower businesses to improve.</p>
            </div>
          </div>  
          <div class="d-block d-flex ">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-barcode" aria-hidden="true"  ></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Goal</h3>
              <p>Our site is a community of passionate people, sharing their products and service experiences.
                Our community of reviewers are a dedicated bunch of consumers who want to help you discover what's right for you.</p>
            </div>
          </div>   
        </div>
        <div class="col-md-6 services">
          <img src="/assets/static/images/women.jpg"  style="height: 470px ; width: 750px; float: left ;">
        </div>
      </div>
    </div>
</section>
