<footer class="footer ftco-section">
    <div class="container">
        <div class="row mb-5">
        <div class="col-md-6 col-lg ">
            <div class="ftco-footer-widget mb-4">
            <h2 class="logo"><a ><span class="flaticon-roof-2 mr-2"></span>AppFood</a></h2>
            <p>We analyze millions of recipes to find the best dishes for you.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
                <li ><a ><span class="fa fa-twitter"></span></a></li>
                <li ><a ><span class="fa fa-facebook"></span></a></li>
                <li ><a ><span class="fa fa-instagram"></span></a></li>
            </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4 ml-md-5">
                <h2 class="ftco-heading-2"> New Categories</h2>
                <ul class="list-unstyled">
                <!-- 
                <div th:each="category : ${footercategories}">
                    <li><a th:href="@{/Products/{Title}(Title=${category.Title})}" class="py-1 d-block"  th:text="${category.Title}"></a></li>
                </div>
                -->
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Main Pages</h2>
                <ul class="list-unstyled">
                <li><a routerLink="/user" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Home</a></li>
                <li><a routerLink="/user/brands" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Brands</a></li>
                <li><a routerLink="/user/recipes" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Recipes</a></li>
                <li><a routerLink="/user/about" class="py-1 d-block"><span class="fa fa-check mr-3"></span>About</a></li>
                <li><a routerLink="/user/contact" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Contact information</h2>
                <div class="block-23 mb-3">
                <ul>
                    <li><span class="icon fa fa-map-marker"></span><span class="text">Tunis, Tunisia</span></li>
                    <li><a ><span class="icon fa fa-phone"></span><span class="text">+216 52849289</span></a></li>
                    <li><a ><span class="icon fa fa-paper-plane"></span><span class="text">foodapp@gmail.com</span></a></li>
                </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 text-center">
            <p>Copyright &copy; All rights reserved | AppFood <i class="fa fa-heart" aria-hidden="true"></i></p>
        </div>
        </div>
    </div>
</footer>